KUBEPHOS_PORT=8080
KUBEPHOS_BIND_ADDRESS=127.0.0.1
KUBEPHOS_IMAGE=ghcr.io/unict-cclab/kubephos
KUBEPHOS_VERSION=latest
KUBEPHOS_WORKER_CONCURRENCY=4
KUBEPHOS_WORKER_POLL_INTERVAL=500ms
POSTGRES_PASSWORD=kubephos-dev
